/* App.css */
body {
  margin: 0;
  font-family: monospace;
  background-color: #f5f5dc; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 20px;
}

.controls {
  margin-bottom: 20px;
}

select {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #CF9E7C;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #FFDFC4;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Styles for the board */
.board-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.board-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  font-size: 2rem;
  margin: 0 20px;
}

.board {
  display: inline-block;
  border: 1px solid #000;
}

.row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  font-size: 20px;
}

.cell.region-A { background-color: red; }
.cell.region-B { background-color: blue; }
.cell.region-C { background-color: green; }
.cell.region-D { background-color: yellow; }
.cell.region-E { background-color: cyan; }
.cell.region-F { background-color: magenta; }
.cell.region-2 { background-color: orange; }
.cell.region-H { background-color: purple; }